footer {
    background-color: var(--firstColor);
    width: 100%;
    margin: 157px 0 0px 0;
}

.footer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--thirdColor);
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 44px 0 170px 0;
}

.footer__logo {
    display: flex;
    margin: 0 82px 0 0;

}

.footer__logo-container {}

.footer__menu {
    display: flex;
    margin: 0 300px 0 0;
} 

.footer_menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.footer_menu__item a {
    color: var(--thirdColor);
}

.footer_menu__item:nth-child(-n+5) {
    margin: 0 0 24px 0;
}

.footer_menu__item :hover {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--secondColor);
    
    list-style: disc;
}

.footer__information {
    display: flex;
    flex-direction: row;
}

.footer__contuct-us {
    display: flex;
    flex-direction: column;
}
.footer__follow-us {
    display: flex;
    flex-direction: column;
}
.footer__container-media {
    display: flex;
    flex: row;
}