.form {
    background-image: url(../img/arthur-humeau.png);
    width: 100%;
    margin: 100px 0 0 0;
    opacity: 80%;
}

.form__container {
    display: flex;
    flex-direction: column;
    background-color: var(--thirdColor);
    width: 100%;
    border: 10px solid var(--thirdColor);
}

.form__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__title p:nth-child(1) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}


.form__title p:nth-child(2) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}