.reviews {
    display: flex;
    flex-direction: column;
    margin: 174px 0 0 0;
    background: url(../img/arthur-humeau-opacity.jpg) no-repeat;
    width: 100%;
}

/* Разобраться */
.reviews__bg {
    display: flex;
    flex-direction: column;
}


.reviews__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reviews__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 84px 0 0 0;
}

.reviews__photos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 80px 0 0 214px;
}

.reviews__arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 37px 0 0;
    height: 70px;
}

.reviews__box {
    display: flex;
    flex-direction: row;
}

.reviews__box-photos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.reviews__box-photos :nth-child(-n+3) {
    margin: 0 4px 0 0;
}


/* Рамка */
/* .photo-second {
    width: 198px;
    height: 326px;
    background: url(../img/Rectangle.png) center right no-repeat;
} */

.reviews__arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 37px;
    height: 70px;
}

.reviews__discription {
    display: flex;
    flex-direction: column;
    margin: 62px 0 100px 438px;
    width: 602px;
}

.reviews__description-name p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: var(--secondColor);
}

.reviews__discription-text {
    margin: 24px 0 0 0;
}

.reviews__discription-text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--fourColor);
}